extends layout

block content
  section#mainpage
    .container
      if !loggedIn
        .col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3
          .alert.alert-danger.messagebox.center
            strong Authorization Required
            p You must be <a href="/login">logged in</a> to view this page.
      else
        .col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3
          h3 Hovercard Preview
          p.text-muted This is shown when someone hover overs your username in the chat.
          if profileError
            .alert.alert-danger.center.messagebox
              strong Profile Error
              p= profileError
          .profile-box.linewrap(style="position: inherit; z-index: auto;")
            if profileImage
              img.profile-image(src=profileImage)
            strong= ' ' + loginName
            if profileText
              p= profileText
          h3 Edit Profile
          form(action="/account/profile", method="post", role="form")
            input(type="hidden", name="_csrf", value=csrfToken)
            .form-group
              label.control-label(for="profileimage") Avatar Url
              input#profileimage.form-control(type="text", name="image")
              span.help-block Only images from <a href="http://mlpforums.com" target="_blank">MLP Forums</a> or <a href="https://imgur.com" target="_blank">Imgur</a> are allowed to be entered here.
            .form-group
              label.control-label(for="profiletext") Bio
              textarea#profiletext.form-control(cols="10", name="text", placeholder="Write some short, inspiring, informative information about yourself. Or you could just write something completely irrelevant the possibilities are limitless.")= profileText
            button.btn.btn-primary.btn-block(type="submit") Save

append footer
  script(type="text/javascript").
    $("#profileimage").val("#{profileImage}");